{% block details %}
    <div id="details">
        
        <div class="title">
            Bearbeiten
        </div>
        
        <div class="proposal">
            
            <div class="name">
                <span class="about"></span> »{{ proposal.name }}«
            </div>

            <div class="author">
                Proposal von Hakuch
            </div>
        </div>
        
        <div class="data">
            <div class="table">
            
                <div class="row">
                    <div class="key cell">Versionen</div>
                    <div class="value cell">45</div>
                </div>
            
                <div class="row">
                    <div class="key cell">Bearbeiter:innen</div>
                    <div class="value cell">4</div>
                </div>
                
            </div>
        </div>
                
        <div class="save">
            <input id="savebutton" type="button" value="speichern"/>
        </div>
            
    </div>
{% endblock %}
