#details {
    
    >.title {
        
        text-align: center;
        font-size: 12pt;
        letter-spacing: 5pt;
        font-weight: bold;
        font-family: monospace;
    }
    
    .proposal {
        
        .name {
            
            font-style: italic;
            
            .about {
                
                color: #616161;
            }
        }

        .author {

            margin-top: 8px;
            font-size: 8pt;
            color: #616161;

            text-align: right;
        }
    }
}