{% block details %}
    <div id="details">
        
        <div class="title">
            Diskussionen
        </div>
        
        <div class="proposal">
            
            <div class="name">
                <span class="about"></span> »{{ proposal.name }}«
            </div>

            <div class="author">
                Proposal von Hakuch
            </div>
        </div>
        
        <div class="data">
            <div class="table">
            
                <div class="row">
                    <div class="key cell">Beiträge</div>
                    <div class="value cell">45</div>
                </div>
                
                <div class="row">
                    <div class="key cell">Letzter</div>
                    <div class="value cell">vor 2h</div>
                </div>
                
                <div class="row">
                    <div class="key cell">Partizipierende</div>
                    <div class="value cell">9</div>
                </div>
                
            </div>
        </div>
            
    </div>
{% endblock %}
